body{
	margin: 0;
	font-family: Times New Roman, sans-serif ;
	font-size: 20px;
	padding: 0;
}

header{
	background-color: #502030;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1{
	font-size: 50px;
	color: #94a2af;

}

h2{
	font-size: 40px;
	color: black;
}
h1, h2 {
	font-family: Brush Script MT, sans-serif;
	text-align: center;
}

header h1{
	color: #94a2af;
	font-size: 50px;

}

header img{
	border: 10px solid #887855;
    border-radius: 170px;
    width: 300px;
}

main{
	width: 800px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;

}

main img{
	max-width: 100%;
}

a{
	color: black;
}
a:hover{
	color: white;
	background-color: #483a94;
}

footer{
	background-color: #502030;
	text-align: center;
	color:#94a2af;
}

p.captions{
	color: grey;
	font-style: italic;
	margin-top: 0;
}